html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust:none;
	font-family: '微软雅黑',Helvetica,Arial,sans-serif;
	font-size:16px;
	color:#fff;
}
html,
body {
	min-height: 100%;
}
.big-text{
	font-size:3rem;
}
.bigger-text{
	font-size:4rem;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}
ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

html,body {
	height: 100%;
}

@-webkit-keyframes bounceIn {
	0%,100%,20%,40%,60%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes bounceIn {
	0%,100%,20%,40%,60%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		-ms-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		-ms-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		-ms-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		-ms-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		-ms-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}


.container{
	width: 100%;
	height: 100%;
}
.section{
	position:relative;
	height:100%;
}

.hidden{
	visibility:hidden;
}

.show{
	visibility:visible;
}

.section .center{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
}




.section-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/********/
.section-pannel-1{
	background:#e43b44;
}

.section-pannel-1 .logo{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -115px;
	margin-top: -450px;
}
.section-pannel-1 .logo .inner{
	width: 227px;
	height:228px;
	background: url(../img/logo.png) no-repeat;
}


.section-pannel-1 .tip-1{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -217px;
	margin-top: -137px;
}
.section-pannel-1 .tip-1 .inner{
	width: 556px;
	height:717px;
	background: url(../img/tip-1.png) no-repeat;
}

.section-pannel-1 .money-1{
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	margin-left: -209px;
	margin-top: -9px;
}
.section-pannel-1 .money-1 .inner{
	width: 75px;
	height:85px;
	background: url(../img/money-1.png) no-repeat;
}

.section-pannel-1 .money-2{
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	margin-left: 153px;
	margin-top: -42px;
}
.section-pannel-1 .money-2 .inner{
	width: 98px;
	height:112px;
	background: url(../img/money-2.png) no-repeat;
}


.section-pannel-1 .money-3{
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	margin-left: -220px;
	margin-top: 126px;
}
.section-pannel-1 .money-3 .inner{
	width: 513px;
	height:220px;
	background: url(../img/money-3.png) no-repeat;
}


.section-pannel-2{
	background:#f6b02c;
}

.section-pannel-2 .kitchener{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -115px;
	margin-top: -450px;
}
.section-pannel-2 .kitchener .inner{
	width: 238px;
	height:417px;
	background: url(../img/kitchener.png) no-repeat;
}

.section-pannel-2 .desktop{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -200px;
}
.section-pannel-2 .desktop .inner{
	width: 483px;
	height:201px;
	background: url(../img/desktop.png) no-repeat;
}

.section-pannel-2 .food{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -218px;
	margin-top: -263px;
}
.section-pannel-2 .food .inner{
	width: 391px;
	height:105px;
	background: url(../img/food.png) no-repeat;
}

.section-pannel-2 .trashcan{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -278px;
	margin-top: -101px;
}
.section-pannel-2 .trashcan .inner{
	width: 61px;
	height:110px;
	background: url(../img/trashcan.png) no-repeat;
}

.section-pannel-2 .board{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: 178px;
	margin-top: -101px;
}
.section-pannel-2 .board .inner{
	width: 95px;
	height:114px;
	background: url(../img/board.png) no-repeat;
}

.section-pannel-2 .freeFood{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: 34px;
}
.section-pannel-2 .freeFood .inner{
	width: 502px;
	height:113px;
	background: url(../img/freeFood.png) no-repeat;
}

.section-pannel-2 .shadow{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -61px;
}
.section-pannel-2 .shadow .inner{
	width: 521px;
	height:51px;
	background: url(../img/shadow.png) no-repeat;
}

.section-pannel-2 .tip2{
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 50%;
	text-align:center;
	margin-top: 204px;
}
.section-pannel-2 .tip2 div{
	margin-top:20px;
}

.p-shadow {
	width: 521px;
	height: 52px;
	position: absolute;
	background: url(../img/shadow.png) no-repeat;
	left: 50%;
	margin-left: -260px;
	top: 50%;
	opacity: 1;
	z-index: 10;
}
/** section-7 **/
.section-pannel-7 {
	background: #f15f5f;
}
.section-pannel-7 .section-box div {
	position: absolute;
	top: 50%;
	left: 50%;
}
.section-pannel-7 .recom-box {
	width: 401px;
	height: 311px;
	background: url('../img/6/layer6_04.png') no-repeat;
	margin-left: -200px;
	margin-top: -255px;
	z-index: 14
}
.section-pannel-7 .recom-person {
	width: 126px;
	height: 305px;
	background: url('../img/6/layer6_05.png') no-repeat;
	margin-left: -5px;
	margin-top: -305px;
	opacity: 1;
}
.section-pannel-7 .recom-handle {
	width: 481px;
	height: 466px;
	background: url('../img/6/layer6_03.png') no-repeat;
	margin-left: -205px;
	margin-top: -390px;
	z-index: 15;
}
.section-pannel-7 .recomm-circle {
	width: 47px;
	height: 62px;
	background: url('../img/6/layer6_06.png') no-repeat;
	margin-left: -130px;
	margin-top: 5px;
	z-index: 14;
}
.section-pannel-7 .recomm-taper {
	width: 64px;
	height: 70px;
	background: url('../img/6/layer6_07.png') no-repeat;
	margin-left: 105px;
	margin-top: 5px;
	z-index: 14;
}
.section-pannel-7 .recomm-word {
	width: 369px;
	height: 116px;
	background: url('../img/6/layer6_08.png') no-repeat;
	margin-left: -185px;
	margin-top: 100px;
}
.section-pannel-7 .shadow7 {
	margin-top: 30px;
}
.section-pannel-7 .tip7 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	font-size: 2.7rem;
	margin-top: 250px;
	line-height: 1.8
}
.section-pannel-7 .rights{
	position: absolute;
	bottom: 30px;
	right: 20px;
	font-size: 2rem;
}
/** section-7 结束 **/
/** section-8 **/

.section-pannel-8 {
	background: #00c1a3;
}
.section-pannel-8 .section-box div {
	position: absolute;
	top: 50%;
	left: 50%;
}
.section-pannel-8 .tech-desk {
	width: 530px;
	height: 238px;
	background: url(../img/7/layer7_04.png) no-repeat;
	margin-left: -275px;
	margin-top: -235px;
	z-index: 16;
}
.section-pannel-8 .tech-chair {
	width: 161px;
	height: 245px;
	background: url(../img/7/layer7_03.png) no-repeat;
	margin-left: -70px;
	margin-top: -255px;
	z-index: 13;
}
.section-pannel-8 .tech-person {
	width: 103px;
	height: 320px;
	background: url(../img/7/layer7_02.png) no-repeat;
	margin-left: -50px;
	margin-top: -325px;
	z-index: 14;
}
.section-pannel-8 .tech-map {
	width: 530px;
	height: 206px;
	background: url(../img/7/layer7_01.png) no-repeat;
	margin-left: -275px;
	margin-top: -420px;
}
.section-pannel-8 .tech-trash {
	width: 124px;
	height: 92px;
	background: url(../img/7/layer7_06.png) no-repeat;
	margin-left: -270px;
	margin-top: -70px;
	z-index: 17;
}
.section-pannel-8 .tech-laptop {
	width: 130px;
	height: 108px;
	background: url(../img/7/layer7_05.png) no-repeat;
	margin-left: 105px;
	margin-top: -90px;
	z-index: 17;
}
.section-pannel-8 .tech-word1 {
	width: 130px;
	height: 98px;
	background: url(../img/9/layer9_06.png) no-repeat;
	margin-left: -135px;
	margin-top: 50px;
}
.section-pannel-8 .tech-word2 {
	width: 147px;
	height: 78px;
	background: url(../img/7/layer7_07.png) no-repeat;
	margin-left: 10px;
	margin-top: 65px;
}
.section-pannel-8 .shadow8 {
	margin-top: -30px;
}
.section-pannel-8 .tip8 {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: 185px;
	font-size: 2.8rem;
}
.section-pannel-8 .tip8 p {
	margin-top: 20px;
}
.section-pannel-8 .tip8 .left-tip {
	position: absolute;	
	text-align: left;
	left: 50%;
	margin-left: -425px;
}
.section-pannel-8 .right-tip {
	position: absolute;
	text-align: left;
	margin-left: 50px;
}
/** section-8 结束 **/ 


/** section-9 **/
.section-pannel-9 {
	background: #9042b0;
}
.section-pannel-9 .section-box div {
	position: absolute;
	top: 50%;
	left: 50%;
}
.section-pannel-9 .opr-chart {
	width: 541px;
	height: 396px;
	background: url(../img/8/layer8_01.png) no-repeat;
	margin-left: -275px;
	margin-top: -390px;
}
.section-pannel-9 .opr-kpi {
	width: 206px;
	height: 141px;
	background: url(../img/8/layer8_03.png) no-repeat;
	margin-left: 55px;
	margin-top: -370px;
}
.section-pannel-9 .opr-person {
	width: 134px;
	height: 280px;
	background: url(../img/8/layer8_02.png) no-repeat;
	margin-left: -115px;
	margin-top: -290px;
}
.section-pannel-9 .opr-desk {
	width: 489px;
	height: 235px;
	background: url(../img/8/layer8_04.png) no-repeat;
	margin-left: -245px;
	margin-top: -208px;
	z-index: 13;
}
.section-pannel-9 .opr-taper {
	width: 60px;
	height: 77px;
	background: url(../img/9/layer9_07.png) no-repeat;
	margin-left: -250px;
	margin-top: -42px;
	z-index: 14;
}
.section-pannel-9 .opr-shield {
	width: 105px;
	height: 89px;
	background: url(../img/8/layer8_05.png) no-repeat;
	margin-left: 155px;
	margin-top: -50px;
	z-index: 14;
}
.section-pannel-9 .opr-word1 {
	width: 130px;
	height: 98px;
	background: url(../img/9/layer9_06.png) no-repeat;
	margin-left: -269px;
	margin-top: 70px;
}
.section-pannel-9 .opr-word2 {
	width: 305px;
	height: 71px;
	/**background: url(../img/8/layer8_06.png) no-repeat;**/
	background: url(../img/shangwu.png) no-repeat;
	margin-left:  -89px;
	margin-top: 88px;
}
.section-pannel-9 .tip10 {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 245px;
	left: 0!important;
	font-size: 3rem;
}
.section-pannel-9 .tip10 p {
	position: absolute;
	width: 100%;
}
/** section-9 结束 **/

/** section-10 **/
.section-pannel-10 {
	background: #8747f1;
}
.section-pannel-10 .mapbg {
	width: 520px;
	height: 253px;
	background: url(../img/9/layer9_02.png) no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -260px;
	margin-top: -380px;
	top: 50%;
}
.section-pannel-10 .busperson {
	position: absolute;
	width: 115px;
	height: 392px;
	background: url(../img/9/layer9_01.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	z-index: 13;
	margin-top: -350px;
}
.section-pannel-10 .cmpdesk {
	position: absolute;
	width: 530px;
	height: 237px;
	background: url(../img/9/layer9_03.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-top: -215px;
	margin-left: -267px;
	z-index: 12;
}
.section-pannel-10 .trip {
	position: absolute;
	width: 342px;
	height: 139px;
	background: url(../img/9/layer9_05.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -172px;
	z-index: 14;
	margin-top: -158px;
}
.section-pannel-10 .left-car {
	position: absolute;
	width: 117px;
	height: 63px;
	background: url(../img/9/layer9_04.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -260px;
	z-index: 12;
	margin-top: -12px;
}
.section-pannel-10 .right-taper {
	position: absolute;
	width: 60px;
	height: 77px;
	background: url(../img/9/layer9_07.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: 180px;
	z-index: 12;
	margin-top: -22px;
}
.section-pannel-10 .bs-word1 {
	position: absolute;
	width: 130px;
	height: 98px;
	background: url(../img/9/layer9_06.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -135px;
	margin-top: 70px;
}
.section-pannel-10 .bs-word2 {
	position: absolute;
	width: 147px;
	height: 75px;
	background: url(../img/9/layer9_08.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: 15px;
	margin-top: 85px;
}
.section-pannel-10 .tip10 {
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: 275px;
	font-size: 3rem;
	width: 100%;
}
.section-pannel-10 .tip10 p {
	position: absolute;
	width: 100%;

}
.plat-mng1 {
	margin-left: -215px;
	margin-top: -43px; 
}
.storage-mng1 {
	margin-left: 160px;
	margin-top: -43px; 
}
.plat-mng {
	margin-left: -215px;
	margin-top: -70px; 
}
.market-mng1 {
	margin-left: -143px;
	margin-top: 51px;
}
.forum-mng1 {
	margin-left:210px;
	margin-top: 51px;
}

.storage-mng {
	margin-left: 160px;
	margin-top: -70px; 
}
.market-mng {
	margin-left: -36px;
	margin-top: 12px;
}
.forum-mng {
	margin-left: -36px;
	margin-top: 100px;
}
/** section-10 结束 **/


/** section-11 **/
.section-pannel-11 {
	background: #f17b47;
}
.section-pannel-11 .whitewash {
	width: 505px;
	height: 423px;
	background: url(../img/10/layer10_12.png) no-repeat;
	margin: 80px auto;
}
.section-pannel-11 .person {
	position: absolute;
	width: 120px;
	height: 352px;
	background: url(../img/10/layer10_09.png) no-repeat;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	z-index: 100;
	margin-top: -330px;
}
.section-pannel-11 .desk {
	width: 198px;
	height: 225px;
	background: url(../img/10/layer10_02.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -205px;
	z-index: 11;
}
.section-pannel-11 .easel {
	width: 145px;
	height: 272px;
	background: url(../img/10/layer10_10.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 100px;
	margin-top: -250px;
	z-index: 11;
}
.section-pannel-11 .taper {
	width: 83px;
	height: 92px;
	background: url(../img/10/layer10_04.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -47px;
	z-index: 12
}
.section-pannel-11 .car {
	width: 79px;
	height: 61px;
	background: url(../img/10/layer10_07.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -168px;
	margin-top: -13px;
	z-index: 13
}
.section-pannel-11 .pencil {
	width: 49px;
	height: 97px;
	background: url(../img/10/layer10_03.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 170px;
	margin-top: -60px;
	z-index: 14
}
.section-pannel-11 .pallet {
	width: 86px;
	height: 121px;
	background: url(../img/10/layer10_11.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 200px;
	margin-top: -83px;
	z-index: 13
}
.section-pannel-11 .zhao-words {
	width: 129px;
	height: 98px;
	background: url(../img/10/layer10_05.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -135px;
	margin-top: 64px;
}
.section-pannel-11 .sheji-words {
	width: 146px;
	height: 77px;
	background: url(../img/10/layer10_06.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 10px;
	margin-top: 80px;
}
.section-pannel-11 .tip11 {
	font-size: 3rem;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: 265px;
}
.section-pannel-11 .tip11 .left-tip {
	width: 100%;
	left: -150px;
	position: absolute;
}
.section-pannel-11 .tip11 .right-tip {
	width: 100%;
	left: 105px;
	position: absolute;
}
/** section-11 结束 **/

/**/
.section-pannel-3{
	background:#9bd400;
}

.section-pannel-3 .boy{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -80px;
	margin-top: -455px;
}
.section-pannel-3 .boy .inner{
	width: 182px;
	height:393px;
	background: url(../img/boy.png) no-repeat;
}


.section-pannel-3 .fitness1{
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	margin-left: 100px;
	margin-top: -100px;
}
.section-pannel-3 .fitness1 .inner{
	width: 122px;
	height:75px;
	background: url(../img/fitness1.png) no-repeat;
}

.section-pannel-3 .fitness2{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -261px;
	margin-top: -336px;
}
.section-pannel-3 .fitness2 .inner{
	width: 285px;
	height:225px;
	background: url(../img/fitness2.png) no-repeat;
}


.section-pannel-3 .fitness3{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: 138px;
	margin-top: -336px;
}
.section-pannel-3 .fitness3 .inner{
	width: 147px;
	height:291px;
	background: url(../img/fitness3.png) no-repeat;
}

.section-pannel-3 .fitness4{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: 61px;
	margin-top: -142px;
}
.section-pannel-3 .fitness4 .inner{
	width: 173px;
	height:81px;
	background: url(../img/fitness4.png) no-repeat;
}



.section-pannel-3 .trashcan3{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -209px;
	margin-top: -175px;
}
.section-pannel-3 .trashcan3 .inner{
	width: 61px;
	height:110px;
	background: url(../img/trashcan.png) no-repeat;
}


.section-pannel-3 .tip-3{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: -4px;
}

.section-pannel-3 .tip-3 .inner{
	width: 425px;
	height:130px;
	background: url(../img/tip-3.png) no-repeat;
}


.section-pannel-3 .tip3{
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 50%;
	text-align:center;
	margin-top: 204px;
}
.section-pannel-3 .tip3 div{
	margin-top:20px;
}

/***/
.section-pannel-4{
	background:#26abdf;
}


.section-pannel-4 .door{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -277px;
	margin-top: -450px;
}
.section-pannel-4 .door .inner{
	width: 576px;
	height:413px;
	background: url(../img/door.png) no-repeat;
}
.section-pannel-4 .tip-4{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: -4px;
}

.section-pannel-4 .tip-4 .inner{
	width: 425px;
	height:130px;
	background: url(../img/tip-4.png) no-repeat;
}


.section-pannel-4 .tip4{
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 50%;
	text-align:center;
	margin-top: 204px;
}
.section-pannel-4 .tip4 div{
	margin-top:20px;
}


/****/

.section-pannel-5{
	background:#e75190;
}

.section-pannel-5 .shadow5{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -61px;
}
.section-pannel-5 .shadow5 .inner{
	width: 521px;
	height:51px;
	background: url(../img/shadow.png) no-repeat;
}

.section-pannel-5 .boy5{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -137px;
	margin-top: -429px;
}
.section-pannel-5 .boy5 .inner{
	width: 137px;
	height:396px;
	background: url(../img/boy5.png) no-repeat;
}


.section-pannel-5 .girl5{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -4px;
	margin-top: -429px;
}
.section-pannel-5 .girl5 .inner{
	width: 171px;
	height:393px;
	background: url(../img/girl5.png) no-repeat;
}

.section-pannel-5 .car5{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: 145px;
	margin-top: -69px;
}
.section-pannel-5 .car5 .inner{
	width: 135px;
	height:60px;
	background: url(../img/car5.png) no-repeat;
}

.section-pannel-5 .tip-5{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: 34px;
}

.section-pannel-5 .tip-5 .inner{
	width: 465px;
	height:113px;
	background: url(../img/tip-5.png) no-repeat;
}


.section-pannel-5 .tip5{
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 50%;
	text-align:center;
	margin-top: 204px;
}
.section-pannel-5 .tip5 div{
	margin-top:20px;
}


/***/
.section-pannel-6{
	background:#bbd80a;
}

.section-pannel-6 .welcome{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -382px;
}
.section-pannel-6 .welcome .inner{
	width: 555px;
	height:360px;
	background: url(../img/welcome.png) no-repeat;
}

.section-pannel-6 .tree-1{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -82px;
}
.section-pannel-6 .tree-1 .inner{
	width: 35px;
	height:61px;
	background: url(../img/tree1.png) no-repeat;
}

.section-pannel-6 .tree-2{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: 263px;
	margin-top: -82px;
}
.section-pannel-6 .tree-2 .inner{
	width: 35px;
	height:61px;
	background: url(../img/tree2.png) no-repeat;
}



.section-pannel-6 .tip-6{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: 34px;
}

.section-pannel-6 .tip-6 .inner{
	width: 465px;
	height:134px;
	background: url(../img/tip-6.png) no-repeat;
}


.section-pannel-6 .tip6{
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 50%;
	text-align:center;
	margin-top: 204px;
}
.section-pannel-6 .tip6 div{
	margin-top:20px;
}

/** 云在飘呐，飘 **/
@-webkit-keyframes cloud {
	0% {
		-webkit-transform: translate3D(0,0,0);
	}
	100% {
		-webkit-transform: translate3D(-100%,0,0);
	}
}
@-moz-keyframes cloud {
	0% {
		-moz-transform: translate3D(0,0,0);
	}
	100% {
		-moz-transform: translate3D(-100%,0,0);
	}
}
@keyframes cloud {
	0% {
		transform: translate3D(0,0,0);
	}
	100% {
		transform: translate3D(-100%,0,0);
	}
}
.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud1:after,
.cloud2:after,
.cloud3:after,
.cloud4:after {
	position: absolute;
	width: 100%;
	height: 70px;
	left: 0!important;
	top: 40px!important;
}
.cloud1,
.cloud2,
.cloud3,
.cloud4 {
	background: url(../img/cloud-1.png) 10% 0 no-repeat;
	-webkit-animation: cloud 30s 0 infinite linear;
	-moz-animation: cloud 30s 0 infinite linear;
	-ms-animation: cloud 30s 0 infinite linear;
	-o-animation: cloud 30s 0 infinite linear;
	animation: cloud 30s 0 infinite linear;
}
.cloud2,
.cloud2:after {
	background: url(../img/cloud-2.png) 85% 0 no-repeat;
}
.cloud1:after {
	background: url(../img/cloud-1.png) 10% 0 no-repeat;
}

.cloud3,
.cloud3:after {
	top: 80px !important;
	background: url(../img/cloud-2.png) 30% 0 no-repeat;
}
.cloud4,
.cloud4:after {
	top: 80px !important;
	background: url(../img/cloud-1.png) 60% 0 no-repeat;
}
.cloud1:after,
.cloud2:after,
.cloud3:after,
.cloud4:after {
	content: '';
	left: 100%!important;;
	top:0!important;
	
}
.section-pannel-4 .cloud1,
.section-pannel-4 .cloud2 {
	z-index: 100;
}
.section-pannel-12 {
	background: #ff5555;
}
.section-pannel-12 .envir-desk {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 483px;
	background: url(../img/envir_desk.png) no-repeat;
	margin-left: -320px;
	margin-top: -490px;
}
.section-pannel-12 b {
	position: absolute;
	bottom: -31px;
	left: 50%;
	width: 170px;
	height: 320px;
	background: url(../img/resum_hand.png) no-repeat;
	margin-left: 150px;
}
.section-pannel-12 .btn-resume {
	position: absolute;
	width: 480px;
	font-size: 4rem;
	color: #ff5555;
	background: #C04040;
	padding-bottom: 3px;
	left: 50%;
	margin-left: -240px;
	bottom: 210px;
	text-decoration: none;
	border-radius: 8px;

}
.section-pannel-12 .btn-resume em {
	background: #fff;
	display: block;
	text-align: center;
	padding: 25px 0;
	font-style: normal;
	border-radius: 8px;

}
.section-pannel-12 .tips12 {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 10;
	margin-top: 44px;
}
.section-pannel-12 p {
	margin-bottom: 30px;
}
.section-pannel-12 p,
.section-pannel-12 .mailto-hr {
	color: #fff;
	display: block;

}
/** 下一页 **/

@keyframes nextpage {
	0% {
		bottom: 80px;
	}
	50% {
		bottom: 40px;
	}
	100% {
		bottom: 80px;
	}
}
@-webkit-keyframes nextpage {
	0% {
		bottom: 80px;
	}
	50% {
		bottom: 40px;
	}
	100% {
		bottom: 80px;
	}
	
}
.next-page {
	width: 3rem;
	height: 3rem;
	background: transparent;
	border-left: 5px solid #fff;
	border-bottom: 5px solid #fff;
	position: absolute;
	left: 50%;
	bottom: 40px;
	margin-left: -1.5rem;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: nextpage 1.2s 0 infinite ease-in-out;
	-moz-animation: nextpage 1.2s 0 infinite ease-in-out;
	-ms-animation: nextpage 1.2s 0 infinite ease-in-out;
	-o-animation: nextpage 1.2s 0 infinite ease-in-out;
	animation: nextpage 1.2s 0 infinite ease-in-out;
	display: none;
}
